@import '../../styles/helpers.scss';

.Comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &:not(:first-child) {
    margin-bottom: 30px;
  }
  &__wrapper {
    width: 225px;
  }
  &__heading {
    display: flex;
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  &__avatar {
    @include avatar;
  }
  &__name {
    @include secondaryFont;
    margin-right: 7px;
  }
  &__date {
    @include extraFont;
    font-size: 10px;
  }
  &__task {
    @include extraFont;
    font-size: 10px;
    font-weight: 500;
    color: #555555;
    margin-bottom: 15px;
    word-break: break-word;
    display: block;
  }

  &__message {
    @include extraFont;
    font-size: 12px;
    max-width: 195px;
    background: $messageBgr;
    border: none;
    border-radius: 10px;
    padding: 15px;
    word-break: break-word;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .Comment {
    width: 200px;
    &__wrapper {
      width: auto;
    }
    &__heading {
      width: 100%;
      margin-bottom: 10px;
    }
    &__message {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .Comment {
    width: 220px;
    margin: 20px;
  }
}
