@import '../../styles/helpers.scss';

.Task {
  display: grid;
  grid-template-columns: 45% 12% 10% 5% 5%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  &__completed {
    opacity: 0.5;
  }
  &__title {
    @include primaryFont;
    position: relative;
    padding-left: 15px;
    word-break: break-all;
    line-height: 1.5;

    &:before {
      @include taskBefore;
    }
    &:after {
      @include taskAfter;
    }
  }

  &__status {
    @include status;
    border: none;
  }

  &__statusInprogress {
    @include status;
    background: $inprogressColor;
    color: $inprogressTextColor;
  }

  &__statusCompleted {
    @include status;
    background: $completedColor;
    color: $completedTextColor;
  }

  &__importance {
    @include importance;
  }
  &__user {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
  }
  &__users {
    width: 22px;
    height: 22px;
    padding: 2px;
    background: $authorColor;
    border-radius: 50%;
  }

  &__menu {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #f2f2f2;
    div {
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: #dcd9d9;
      border: none;
    }
  }

  &__options {
    padding: 5px;
    button img {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .Task {
    grid-template-columns: 45% 20% 10% 5% 5%;
  }
}
