// Fonts
$Montserrat: 'Montserrat', sans-serif;
$Poppins: 'Poppins', sans-serif;

//Colors
$primaryColor: #884cb2;
$secondaryColor: #eb5757;
$titleColor: #1d262c;
$pendingColor: rgba(242, 153, 74, 0.2);
$pendingTextColor: #f2994a;
$inprogressColor: rgba(86, 204, 242, 0.2);
$inprogressTextColor: #56ccf2;
$completedColor: rgba(39, 174, 96, 0.2);
$completedTextColor: #27ae60;
$minorColor: #219653;
$authorColor: #fbac65;
$avatarBorder: #78cfdf;
$messageBgr: #f3f3f3;

@mixin primaryFont {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

@mixin secondaryFont {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

@mixin title {
  font-family: $Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: $titleColor;
}

@mixin extraFont {
  font-family: $Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: $titleColor;
}

@mixin taskBefore {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: linear-gradient(
    133.9deg,
    rgba(243, 71, 122, 0.7) 0.24%,
    rgba(136, 76, 178, 0.7) 95.04%
  );
  position: absolute;
  top: 5px;
  left: 2px;
}

@mixin taskAfter {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: linear-gradient(
    133.9deg,
    rgba(243, 71, 122, 0.2) 0.24%,
    rgba(136, 76, 178, 0.2) 95.04%
  );
  position: absolute;
  top: 3px;
  left: 0px;
}

@mixin textarea {
  @include extraFont;
  font-size: 16px;
  border-radius: 20px;
  line-height: 1.5;
  resize: none;
  outline: none;
  padding: 10px 10px 0;
}

@mixin status {
  @include primaryFont;
  font-size: 11px;
  border-radius: 8.5px;
  background: $pendingColor;
  color: $pendingTextColor;
  padding: 5px 17px;
  text-align: center;
}

@mixin importance {
  @include primaryFont;
  position: relative;
  font-size: 12px;
  padding-left: 12px;
  &::before {
    @include taskBefore;
    background: #fff;
    top: 5px;
    left: 2px;
    z-index: 1;
  }
  &::after {
    @include taskAfter;
    background: $minorColor;
    top: 2px;
  }
}
