@import '../../Styles/helpers.scss';

.Layout {
  padding: 0 20px;

  &__heading {
    display: flex;
    align-items: center;
    margin-top: 60px;

    h1 {
      @include title;

      span {
        color: #eb5757;
      }
    }

    button {
      position: relative;
      width: 140px;
      height: 35px;
      background: #884cb2;
      border-radius: 10px;
      border: none;
      color: white;
      margin-left: 20px;
      &::before {
        content: url('../../assets/icons/add_new.svg');
        width: 12px;
        height: 12px;
        display: block;
        position: absolute;
        left: 25px;
        top: 10px;
      }
    }
  }
}
