@import '../../Styles/helpers.scss';

.Comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &:not(:first-child) {
    margin-bottom: 30px;
  }
  &__wrapper {
    width: 225px;
  }
  &__heading {
    display: flex;
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  &__avatar {
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 25px;
    border: 3px solid $avatarBorder;
    display: flex;
    justify-content: center;

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid #fff;
    }
  }
  &__name {
    @include secondaryFont;
    margin-right: 7px;
  }
  &__date {
    @include extraFont;
    font-size: 10px;
  }
  &__task {
    @include extraFont;
    font-size: 10px;
    font-weight: 500;
    color: #555555;
    margin-bottom: 15px;
    word-break: break-word;
    display: block;
  }
  &__message {
    @include extraFont;
    font-size: 12px;
    max-width: 195px;
    background: $messageBgr;
    border: none;
    border-radius: 10px;
    padding: 15px;
    word-break: break-word;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
