@import '../styles/helpers.scss';

.App {
  width: 80%;
  padding: 30px 60px 100px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 4px 40px #8ca4d8;
  border-radius: 30px;
}

@media screen and(max-width: 768px) {
  .App {
    width: 100%;
    padding: 20px 20px 20px;
  }
}
