@import '../../styles/helpers.scss';

.Layout {
  display: grid;
  grid-template-columns: 70% 25%;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 60px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .Layout {
    grid-template-columns: 58% 38%;
  }
}
